---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Agenda from '../components/Agenda.astro';
import Topics from '../components/Topics.astro';
import Sponsors from '../components/Sponsors.astro';
import Speakers from '../components/Speakers.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Boost Hospitality | Evento de Alojamento Local - 25 Março 2026">
  <main>
    <Hero />
    <About />
    <Agenda />
    <Topics />
    <Speakers />
    <Sponsors />
    <CTA />
  </main>
  <Footer />
</Layout>
